@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-condensed-header-900 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 21px;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 24px;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.roboto-bold-16 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.roboto-regular-14 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.roboto-regular-15 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

@media (max-width: 768px) {
    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        line-height: 20px;
    }
}

.roboto-bold-6 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 34px;
}


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
}

.roboto-regular-16 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.roboto-regular-24 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
}

.roboto-regular-24 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
}

.fade-left {
    -webkit-mask-image: linear-gradient(to right, transparent 0px, black 3px);
    mask-image: linear-gradient(to right, transparent 0px, black 3px);
}

.fade-left-5 {
    -webkit-mask-image: linear-gradient(to right, transparent 0px, black 5px);
    mask-image: linear-gradient(to right, transparent 0px, black 5px);
}

.gauge-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.gauge-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip-path: polygon(50% 0%, 50% 100%, 100% 100%, 100% 0%);
    background: linear-gradient(to top, #ff0000, #ffff00, #00ff00);
    transform: rotate(-45deg);
    transform-origin: bottom center;
}

.gauge-labels {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.label {
    font-size: 12px;
    color: #333;
    position: absolute;
}

.label.top {
    top: -20px;
}

.label.bottom {
    bottom: -20px;
}

.x-nav-link:active {
    border-bottom: none;
}

.no-border-bottom {
    border-bottom: none;
}

input[type="radio"]:hover {
    background-color: #C8000B;
}

input[type="radio"]:checked {
    background-color: #C8000B;
    color: #C8000B;
    border: 1px solid #f0f0f0;
}

.background-container {
    background-image: url('../../public/images/bg-judge.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.50;
}

.semi-circle-border {
    border-radius: 50% 0 0 50%;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 33%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.separator {
    border-radius: 10px;
    display: inline-block;
    width: 90%;
    height: 5px;
    border-radius: 5px;
    position: relative;
    bottom: 0;
    padding: 0;

    .separator-block {
        height: 100%;
        width: calc((100% - 1px) / 4);

        &.red {
            background-color: #fe6d4b;
        }

        &.yellow {
            background-color: #ffcf47;
        }

        &.blue {
            background-color: #2f4167;
        }

        &.green {
            background-color: #52cfba;
        }

    }
}

.package {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 4rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-row-gap: 7rem;
    }

    &__item {
        height: 100%;
        transition: all ease-in-out .3s;

        &:hover {
            transform: translateY(-5px);
        }

        .package__header {
            background-color: white;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom: 3px solid rgba(#000, .1);

            .package__name {
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                padding: 8px;
                color: white;
            }
        }

        .package__body {
            background-color: white;
            padding: 1rem;
            min-height: 82%;

            @media screen and (max-width: 800px) {
                min-height: 100%;
            }

            .package__price-container {
                min-height: 150px;
                background-color: rgba(#000, .06);
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 4px;

                @media screen and (max-width: 800px) {
                    min-height: 100%;
                }
            }

            .package__price-container--column {
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;

                @media screen and (max-width: 800px) {
                    grid-template-columns: 1fr;
                }

                .package__column {
                    display: grid;

                    [class^="package__column"] {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .package__column-title {
                        color: white;
                        background-color: #78a87f;
                        font-weight: 600;
                    }

                    // .package__column-content { }

                    .package__column-price {
                        font-weight: bold;
                    }

                    .package__column-price--bb {
                        border-bottom: 1px solid rgba(#000, .1);
                    }
                }

                .package__column--2 {
                    border-left: 1px solid rgba(#000, .05);

                    .package__column-title {
                        background-color: darken(#78a87f, 10%);
                    }
                }
            }

            .package__price {
                text-align: center;
                font-size: 3rem;
                font-weight: 600;
                position: relative;
            }

            .package__price--sm {
                font-size: 1.8rem;
            }

            .package__price--xs {
                font-size: 1.2rem;
            }

            .package__price--monthly {
                &::after {
                    content: 'Monthly';
                    background-color: #459bba;
                    border-radius: 8px;
                    font-size: 10px;
                    padding: 1px 5px;
                    color: white;
                    position: absolute;
                }
            }

            .package__price--quarterly {
                &::after {
                    content: 'Quarterly';
                    background-color: orange;
                    border-radius: 8px;
                    font-size: 10px;
                    padding: 1px 5px;
                    color: white;
                    position: absolute;
                }
            }

            .package__price--yearly {
                &::after {
                    content: 'Yearly';
                    background-color: darken(#459bba, 10%);
                    border-radius: 8px;
                    font-size: 10px;
                    padding: 1px 5px;
                    color: white;
                    position: absolute;
                }
            }

            .package__price--ind-yearly {
                &::after {
                    content: 'Yearly Individual';
                    background-color: #5043C9;
                    border-radius: 8px;
                    font-size: 10px;
                    padding: 1px 5px;
                    color: white;
                    position: absolute;
                }
            }

            .package__price--ins-yearly {
                &::after {
                    content: 'Yearly Institutional';
                    background-color: darken(#78a87f, 10%);
                    border-radius: 8px;
                    font-size: 10px;
                    padding: 1px 5px;
                    color: white;
                    position: absolute;
                }
            }

            ul {
                margin-top: 1rem;

                li {
                    position: relative;
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: #31363c;
                }
            }
        }

        .package__footer {
            button {
                background-color: #2287F5;
                color: white;
                padding: 8px 0;
                width: 100%;
                border: 0;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                cursor: pointer;
                position: relative;
                transition: all ease-in-out .3s;
                font-weight: 600;

                &::after {
                    content: '\00bb';
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    font-size: 1.5rem;
                    transition: all ease-in-out .3s;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                        transform: translateX(4px);
                    }
                }
            }
        }

        &:nth-child(1) {
            .package__header {
                background-color: #eea726;
            }

            .package__footer {
                button {
                    background-color: #eea726;

                    &:hover {
                        background-color: darken(#eea726, 6%);
                    }
                }
            }
        }

        &:nth-child(2) {
            .package__header {
                background-color: #459bba;
            }

            .package__footer {
                button {
                    background-color: #459bba;

                    &:hover {
                        background-color: darken(#459bba, 6%);
                    }
                }
            }
        }

        &:nth-child(3) {
            .package__header {
                background-color: #78a87f;
            }

            .package__footer {
                button {
                    background-color: #78a87f;

                    &:hover {
                        background-color: darken(#78a87f, 6%);
                    }
                }
            }
        }
    }
}

.zoom-image img {
    transition: transform 0.3s ease-in-out;
}

.zoom-image:hover img {
    transform: scale(1.2);

}